body {
  overflow-x: hidden;
}
header,
section,
main,
footer {
  display: flex;
  justify-content: center;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
div {
  font-family: 'Lato';
  color: #555555;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 15px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justife-space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
.h-marker {
  position: relative;
  padding-top: 28px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.09em;
  color: #555555;
}
.h-marker::before {
  position: absolute;
  width: 60px;
  height: 5px;
  content: '';
  background: #46B3B2;
  border-radius: 3px;
  top: 5px;
}
header {
  padding-top: 1rem;
  position: fixed;
  width: 100%;
  z-index: 2;
}
@media (max-width: 768px) {
  header {
    background-color: #ffffff;
  }
}
header .navigation {
  display: flex;
  column-gap: 0.5rem;
}
@media (max-width: 768px) {
  header .navigation {
    position: fixed;
    flex-direction: column;
    top: 4rem;
    right: 20px;
    background-color: #46B3B2;
    outline: 1px solid #555555;
    z-index: 2;
    border-radius: 5px;
  }
  header .navigation.closed {
    display: none;
  }
}
header .navigation a {
  color: #555555;
  padding: 1em 1rem;
  border-radius: 50px;
}
@media (max-width: 768px) {
  header .navigation a {
    border-radius: 0;
    width: 100%;
    padding: 1rem 0;
    margin: 0 1rem;
    text-align: center;
  }
  header .navigation a:hover {
    background-color: #36a3a2;
  }
}
header .navigation a:last-child {
  color: #46B3B2;
  padding: 1em 1.5em;
  background: #ffffff;
}
@media (max-width: 768px) {
  header .navigation a:last-child {
    background-color: #46B3B2;
    color: #555555;
    border-radius: 0;
    width: 100%;
    padding: 1rem 0;
  }
  header .navigation a:last-child:hover {
    background-color: #36a3a2;
  }
}
@media (min-width: 769px) {
  header .burger {
    display: none;
  }
}
header #burger-menu {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-image: url('../images/burger.png');
  background-size: cover;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
}
@media (max-width: 768px) {
  header #burger-menu {
    display: block;
  }
}
main {
  background-image: url('../images/doctors.png');
  background-size: 48vw;
  background-position: top right;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width: 768px) {
  main {
    background-image: none;
  }
}
main::after {
  position: absolute;
  content: '';
  width: 229px;
  height: 229px;
  background-image: url(../images/ellipse-center.png);
  bottom: 0;
  transform: translate(50%, 50%);
  left: 50%;
  z-index: -1;
}
@media (max-width: 768px) {
  main::after {
    content: none;
  }
}
main::before {
  position: absolute;
  content: '';
  width: 413px;
  height: 413px;
  background-image: url(../images/ellipse-corner.png);
  bottom: 0;
  transform: translate(50%, 50%);
  right: 0%;
  z-index: -1;
  overflow: hidden;
}
@media (min-width: 1820px) {
  main {
    background-size: contain;
  }
}
main .container > div {
  margin: 0 15px 0 0;
  padding-top: 100px;
  width: 50%;
  max-width: 590px;
  height: 39vw;
  min-height: 450px;
  max-height: 660px;
}
@media (max-width: 768px) {
  main .container > div {
    max-width: 100%;
    width: 100%;
  }
}
main .container > div h1 {
  padding-bottom: 23px;
  font-weight: 800;
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: 0.09em;
  margin: 0;
}
@media (max-width: 600px) {
  main .container > div h1 {
    font-size: 32px;
    line-height: 36px;
  }
}
main .container > div p {
  margin-top: 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: justify;
  letter-spacing: 0.06em;
}
main .container > div .search-wrap {
  width: 100%;
  height: 3.75rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin-top: 55px;
}
main .container > div .search-wrap form {
  height: 100%;
}
main .container > div .search-wrap form .form-location {
  border-right: 1px solid #F7F7F9;
  width: 218px;
  height: 100%;
  position: relative;
  min-width: 160px;
}
@media (max-width: 600px) {
  main .container > div .search-wrap form .form-location {
    display: none;
  }
}
main .container > div .search-wrap form .form-location::before {
  content: '';
  background-image: url(../images/place_24px.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}
main .container > div .search-wrap form .form-location::after {
  content: '';
  background-image: url(../images/arrow_drop_down_24px.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}
main .container > div .search-wrap form .form-location select {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 58px;
  color: #46B3B2;
  font-size: 16px;
  font-family: lato;
  line-height: 111.9%;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 100%;
  cursor: pointer;
}
main .container > div .search-wrap form .form-location select::-ms-expand {
  display: none;
}
main .container > div .search-wrap form .form-location select:active,
main .container > div .search-wrap form .form-location select:hover,
main .container > div .search-wrap form .form-location select:focus {
  border: none;
  outline: none;
}
main .container > div .search-wrap form .form-keywords {
  flex-basis: 500px;
  padding: 5px;
  height: 100%;
  min-width: 250px;
}
main .container > div .search-wrap form .form-keywords input {
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: lato;
  line-height: 111.9%;
  font-weight: 400;
  height: 80%;
  width: calc(100% - 74px);
}
main .container > div .search-wrap form .form-keywords input:active,
main .container > div .search-wrap form .form-keywords input:hover,
main .container > div .search-wrap form .form-keywords input:focus {
  border: none;
  outline: none;
}
main .container > div .search-wrap form .form-keywords input::placeholder {
  color: #555555;
}
main .container > div .search-wrap form .form-keywords button[type=submit] {
  width: 64px;
  height: 50px;
  background-color: #46B3B2;
  background-image: url(../images/search_24px.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: lato;
  line-height: 111.9%;
  font-weight: 400;
}
main .container > div .search-wrap form .form-keywords button[type=submit]:active,
main .container > div .search-wrap form .form-keywords button[type=submit]:hover,
main .container > div .search-wrap form .form-keywords button[type=submit]:focus {
  border: none;
  outline: none;
}
main .container > div .search-wrap form .form-keywords button[type=submit]:hover {
  background-color: #36A3A2;
}
.articles {
  margin-top: 100px;
}
@media (max-width: 1030px) {
  .articles > .container {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .articles {
    margin-top: 30px;
  }
}
.articles article {
  background: linear-gradient(93.67deg, #46B3B2 7.41%, rgba(36, 194, 193, 0.9) 79.91%);
  box-shadow: 0px 10px 12px 3px rgba(70, 179, 178, 0.25);
  border-radius: 8px;
  max-width: 300px;
  padding: 107px 40px 25px;
  margin: 10px 10px;
}
@media (max-width: 768px) {
  .articles article {
    padding-top: 45px;
  }
}
.articles article h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 1rem;
}
.articles article p {
  max-width: 225px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: justify;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.articles article a {
  color: #46B3B2;
}
.posters {
  margin-top: 170px;
  margin-bottom: 300px;
  position: relative;
}
@media (max-width: 1250px) {
  .posters {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .posters {
    margin-top: 80px;
  }
}
.posters > .container {
  row-gap: 170px;
}
@media (max-width: 768px) {
  .posters > .container {
    row-gap: 80px;
  }
}
.posters::after {
  position: absolute;
  content: '';
  width: 413px;
  height: 413px;
  background-image: url(../images/ellipse-corner.png);
  bottom: 0;
  transform: translate(50%, calc(50% + 300px));
  left: 0%;
  z-index: -1;
}
.posters .poster {
  column-gap: 15px;
}
@media (max-width: 768px) {
  .posters .poster {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
}
.posters .poster > div {
  width: 50%;
}
@media (max-width: 768px) {
  .posters .poster > div {
    width: 100%;
  }
}
.posters .poster > div:first-child img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
.posters .poster:nth-child(2n) {
  flex-direction: row-reverse;
}
.posters .poster .poster-image {
  position: relative;
}
.posters .poster .poster-image:after {
  position: absolute;
  content: '';
  width: 179px;
  height: 179px;
  background-image: url(../images/ellipse-center.png);
  bottom: 0;
  transform: translate(50%, 50%);
  right: 0;
  z-index: 1;
  background-size: cover;
}
.posters .poster:nth-child(2n) .poster-image:after {
  transform: translate(-50%, 50%);
  right: initial;
  left: 0;
}
.posters .poster .poster-info a:hover {
  text-decoration: underline;
}
@media (max-width: 1250px) {
  .posters .poster.all-posters {
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: center;
  }
  .posters .poster.all-posters .poster-info {
    width: 100%;
  }
  .posters .poster.all-posters .poster-links {
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    justify-content: center;
  }
}
.posters .poster .poster-links {
  row-gap: 30px;
  column-gap: 30px;
}
@media (max-width: 768px) {
  .posters .poster .poster-links {
    flex-wrap: wrap;
  }
}
.posters .poster .poster-links a {
  width: 278px;
  height: 200px;
  box-shadow: 0px 11px 25px 3px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  justify-content: center;
}
.posters .poster .poster-links a:hover {
  background-color: rgba(70, 179, 178, 0.1);
}
.posters .poster .poster-links a:last-child {
  background: linear-gradient(93.67deg, #46B3B2 7.41%, rgba(36, 194, 193, 0.9) 79.91%);
  color: #ffffff;
}
.posters .poster .poster-links a:last-child:hover {
  background-color: #56C3C2;
}
.posters a {
  color: #46B3B2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
.choose-us {
  background: linear-gradient(93.67deg, #46B3B2 7.41%, rgba(36, 194, 193, 0.9) 79.91%);
  padding-top: 22px;
  padding-bottom: 75px;
}
.choose-us h2 {
  color: #ffffff;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: 0.09em;
  position: relative;
  padding-top: 20px;
}
.choose-us h2::before {
  content: '';
  background: #FFFFFF;
  border-radius: 40px;
  width: 60px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.choose-us .choose-us-intro {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  max-width: 485px;
}
.choose-us .advantages-wrap {
  row-gap: 30px;
  column-gap: 30px;
}
@media (max-width: 992px) and (min-width: 769px) {
  .choose-us .advantages-wrap {
    flex-wrap: wrap;
  }
  .choose-us .advantages-wrap .advantage {
    width: calc(50% - 75px);
  }
}
@media (max-width: 768px) {
  .choose-us .advantages-wrap {
    row-gap: 20px;
    column-gap: 20px;
    flex-wrap: wrap;
  }
  .choose-us .advantages-wrap .advantage-title br {
    display: none;
  }
}
.choose-us .advantages-wrap .icon-box {
  background: linear-gradient(93.67deg, #46B3B2 7.41%, rgba(36, 194, 193, 0.9) 79.91%);
  box-shadow: 0px 10px 12px 3px rgba(70, 179, 178, 0.25);
  border-radius: 8px;
  width: 64px;
  height: 64px;
}
.choose-us .advantages-wrap .advantage {
  background: #FFFFFF;
  box-shadow: 0px 10px 12px 3px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 30px;
}
.best-doctors {
  margin-top: 125px;
  margin-bottom: 90px;
  position: relative;
}
.best-doctors::after {
  position: absolute;
  content: '';
  width: 413px;
  height: 413px;
  background-image: url(../images/ellipse-corner-blue.png);
  bottom: 0;
  transform: translate(25%, 50%);
  right: 0%;
  z-index: -1;
  overflow: hidden;
}
.best-doctors .poster > div {
  width: 50%;
}
.best-doctors h2 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.09em;
  color: #555555;
}
.best-doctors p {
  font-family: 'Museo Sans Cyrillic';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  /* or 21px */
  text-align: justify;
  color: #555555;
}
.best-doctors a {
  color: #46B3B2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
@media (max-width: 992px) {
  .best-doctors .poster {
    flex-direction: column;
  }
  .best-doctors .poster .poster-image {
    text-align: center;
  }
  .best-doctors .poster > div {
    width: 100%;
  }
}
@media (max-width: 992px) and (max-width: 490px) {
  .best-doctors .poster .poster-image img {
    height: auto;
    width: 100%;
  }
}
.about-us {
  padding-top: 50px;
  background: #F8F8F8;
  padding-bottom: 120px;
}
.about-us .section-header #dots {
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .section-header .dot {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0 2px;
  margin-bottom: 13px;
  border-radius: 50%;
  background-color: #bbbbbb;
  transition: background-color 6 ease;
}
.about-us .section-header .active-dot {
  background-color: #46B3B2;
}
.about-us .section-header .dot:hover {
  background-color: #46B3B2;
  cursor: pointer;
}
.about-us #slider {
  position: relative;
  max-width: 100%;
  padding-top: 50px;
}
.about-us #slider .slider-wrapper {
  display: flex;
  align-content: flex-start;
  column-gap: 30px;
  max-width: 9999px;
  transition: 0.8s ease;
}
@media (max-width: 768px) {
  .about-us #slider .slider-wrapper {
    flex-wrap: wrap;
    row-gap: 60px;
  }
}
.about-us #slider .slider-wrapper .slide-container {
  max-width: 50%;
  background: #FFFFFF;
  box-shadow: 0px 20px 22px 3px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 10px 36px;
}
@media (max-width: 768px) {
  .about-us #slider .slider-wrapper .slide-container {
    max-width: 100%;
  }
}
.about-us #slider .slider-wrapper .slide-container > div:first-child {
  padding-top: 10px;
  position: relative;
}
.about-us #slider .slider-wrapper .slide-container > div:first-child .date {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #C2C2C2;
}
.about-us #slider .slider-wrapper .slide-container > div:first-child img {
  background: linear-gradient(93.67deg, #46B3B2 7.41%, rgba(36, 194, 193, 0.9) 79.91%);
  box-shadow: 0px 10px 12px rgba(70, 179, 178, 0.25);
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  right: 0;
  transform: translate(37%, -67%);
}
.about-us #slider .slider-wrapper .slide-container > div:last-child {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us #slider .slider-wrapper .slide-container > div:last-child .doctor-phraze {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: justify;
  color: #555555;
}
.about-us #slider .slider-wrapper .slide-container > div:last-child .doctor-name {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #1D293F;
}
footer {
  border-top: 1px solid #E1E1E1;
  padding: 60px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer .container {
    flex-wrap: wrap;
  }
}
footer .container .footer-info {
  margin-right: 20px;
}
@media (max-width: 768px) {
  footer .container .footer-info {
    width: 100%;
  }
}
footer .container .footer-info img {
  width: 250px;
  height: 48px;
}
footer .container .footer-info p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: justify;
  color: #555555;
  opacity: 0.5;
}
@media (max-width: 768px) {
  footer .container .footer-links {
    width: 50%;
  }
}
@media (max-width: 410px) {
  footer .container .footer-links {
    width: 100%;
  }
}
footer .container .footer-links p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-align: justify;
  color: #46B3B2;
}
@media (max-width: 410px) {
  footer .container .footer-links p {
    text-align: center;
  }
}
footer .container .footer-links a {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  cursor: pointer;
  text-align: justify;
  color: #555555;
}
@media (max-width: 410px) {
  footer .container .footer-links a {
    text-align: center;
  }
}
footer .container .footer-links a:hover {
  text-decoration: underline;
}
.footer-underline {
  height: 60px;
  background: linear-gradient(93.67deg, #46B3B2 7.41%, rgba(36, 194, 193, 0.9) 79.91%);
  width: 100%;
}
